openapi: 3.1.0
info:
  title: Ascend Advanced Therapies Content API (WordPress REST) Careers Posts API
  version: wp/v2
  summary: Public read surface of the Ascend Advanced Therapies corporate site content API.
  description: Ascend Advanced Therapies publishes its corporate website (ascend-adv.com) on WordPress with the core WordPress REST API enabled and anonymously readable. This specification was DERIVED by discovering the live route index at https://www.ascend-adv.com/wp-json/ and probing each route for anonymous access; only routes verified to return HTTP 200 without credentials are documented here as public operations. The surface exposes the company's News & Insights posts, site pages, media library, taxonomy (categories and tags), site search, content-type and taxonomy metadata, and the `awsm_job_openings` custom post type that backs the Careers listings. Write operations exist on the same routes but require authentication (WordPress Application Passwords) and are not documented here. This is not a product API offered by Ascend to customers; it is the content API of their marketing site, captured for discovery purposes.
  contact:
    name: Ascend Advanced Therapies
    url: https://www.ascend-adv.com/contact-us/
    email: hello@www.ascend-adv.com
  x-apis-io-provenance:
    method: derived
    source: https://www.ascend-adv.com/wp-json/
    derived_on: '2026-07-19'
    note: Routes enumerated from the live wp-json discovery document (328 routes across 12 namespaces); each operation below was probed anonymously and returned 200. Schemas reflect fields observed in live responses. No fabricated operations.
servers:
- url: https://www.ascend-adv.com/wp-json
  description: Production
tags:
- name: Posts
  description: News & Insights articles, blogs, and webinar entries.
paths:
  /wp/v2/posts:
    get:
      tags:
      - Posts
      operationId: listPosts
      summary: List News & Insights posts
      description: Returns a paginated collection of published posts. The site's `post` type is labelled "News & Insights" and carries the news, articles, blogs, and webinar categories. Total count and page count are returned in the X-WP-Total and X-WP-TotalPages headers.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/orderby'
      - name: categories
        in: query
        description: Limit results to items assigned to the given category IDs.
        schema:
          type: array
          items:
            type: integer
      - name: tags
        in: query
        description: Limit results to items assigned to the given tag IDs.
        schema:
          type: array
          items:
            type: integer
      - name: slug
        in: query
        description: Limit results to items with one of the given slugs.
        schema:
          type: array
          items:
            type: string
      - $ref: '#/components/parameters/context'
      responses:
        '200':
          description: A page of posts
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
            Link:
              $ref: '#/components/headers/LinkPagination'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/InvalidParam'
  /wp/v2/posts/{id}:
    get:
      tags:
      - Posts
      operationId: getPost
      summary: Get a post by ID
      parameters:
      - $ref: '#/components/parameters/idPath'
      - $ref: '#/components/parameters/context'
      responses:
        '200':
          description: The post
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  headers:
    LinkPagination:
      description: RFC 8288 link relations for next/prev pages.
      schema:
        type: string
      example: <https://www.ascend-adv.com/wp-json/wp/v2/posts?per_page=1&page=2>; rel="next"
    XWPTotalPages:
      description: Total number of pages available at the current per_page size.
      schema:
        type: integer
      example: 55
    XWPTotal:
      description: Total number of items in the unpaginated collection.
      schema:
        type: integer
      example: 55
  schemas:
    RenderedText:
      type: object
      properties:
        rendered:
          type: string
        protected:
          type: boolean
    Post:
      type: object
      properties:
        id:
          type: integer
        date:
          type: string
          format: date-time
        date_gmt:
          type: string
          format: date-time
        guid:
          $ref: '#/components/schemas/RenderedText'
        modified:
          type: string
          format: date-time
        modified_gmt:
          type: string
          format: date-time
        slug:
          type: string
        status:
          type: string
        type:
          type: string
        link:
          type: string
          format: uri
        title:
          $ref: '#/components/schemas/RenderedText'
        content:
          $ref: '#/components/schemas/RenderedText'
        excerpt:
          $ref: '#/components/schemas/RenderedText'
        author:
          type: integer
          description: ID of the authoring user.
        featured_media:
          type: integer
          description: ID of the featured media attachment.
        categories:
          type: array
          description: Category term IDs.
          items:
            type: integer
        tags:
          type: array
          description: Tag term IDs.
          items:
            type: integer
        meta:
          type: object
        acf:
          type: object
          description: Advanced Custom Fields payload.
        yoast_head_json:
          type: object
          description: Yoast SEO metadata.
        _links:
          type: object
          description: HAL-style link relations to related resources.
    Error:
      type: object
      description: The WordPress REST error envelope. Not RFC 9457 problem+json; errors are returned as application/json with a machine-readable `code`, a human `message`, and a `data` object carrying the HTTP status and any per-parameter validation details.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          description: Machine-readable error code.
          examples:
          - rest_no_route
          - rest_post_invalid_id
          - rest_invalid_param
          - rest_forbidden
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
            params:
              type: object
              additionalProperties:
                type: string
            details:
              type: object
  parameters:
    page:
      name: page
      in: query
      description: Current page of the collection.
      schema:
        type: integer
        minimum: 1
        default: 1
    perPage:
      name: per_page
      in: query
      description: Maximum number of items to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in the response.
      schema:
        type: string
        enum:
        - view
        - embed
        - edit
        default: view
    order:
      name: order
      in: query
      schema:
        type: string
        enum:
        - asc
        - desc
        default: desc
    orderby:
      name: orderby
      in: query
      schema:
        type: string
        enum:
        - date
        - id
        - include
        - title
        - slug
        - modified
        - relevance
        default: date
    search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema:
        type: string
    idPath:
      name: id
      in: path
      required: true
      description: Unique identifier for the resource.
      schema:
        type: integer
  responses:
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: rest_post_invalid_id
            message: Invalid post ID.
            data:
              status: 404
    InvalidParam:
      description: One or more query parameters failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: rest_invalid_param
            message: 'Invalid parameter(s): per_page'
            data:
              status: 400
              params:
                per_page: per_page must be between 1 (inclusive) and 100 (inclusive)
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords. Advertised by the API index at `authentication.application-passwords`, authorized at https://www.ascend-adv.com/wp-admin/authorize-application.php. Required only for write operations and for privileged reads (for example /wp/v2/settings, which returns 401 anonymously). All operations documented in this specification are anonymously readable.
